---
title: A Better World 
---

<script>
    import Settings from '../settings/Settings.svelte'
    import Toc from './Toc.svelte'
</script>

# {title}

<Settings />

---

# Abstract

These are the specifications for a better world.

<Toc />


