---
title: A Better World 
subtitle: AI Is The Key 
---

<script>
    import Settings from '../settings/Settings.svelte'
</script>

# {title}
## {subtitle}

<Settings />

---

# Abstract

These are the specifications for a better world. 
